{
  "openapi": "3.1.0",
  "info": {
    "title": "Shinzo Platform API",
    "description": "REST API for authentication, AI agents, Spotlight model proxy, telemetry ingestion, and analytics",
    "version": "2.0.0",
    "contact": {
      "email": "austin@shinzolabs.com"
    }
  },
  "servers": [
    {
      "url": "https://api.app.shinzo.ai",
      "description": "Production API"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "JWT token from login or Platform API key"
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-shinzo-api-key",
        "description": "Platform API key"
      },
      "ingestToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Ingest token for telemetry"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "uuid": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "email_verified": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "uuid": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "status": { "type": "string", "enum": ["active", "paused", "stopped", "error"] },
          "created_at": { "type": "string", "format": "date-time" },
          "endpoint_url": { "type": "string" },
          "task_count": { "type": "integer" },
          "active_tasks": { "type": "integer" }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "task_id": { "type": "string" },
          "status": { "type": "string", "enum": ["queued", "running", "awaiting_input", "completed", "failed", "cancelled"] },
          "created_at": { "type": "string", "format": "date-time" },
          "result": { "type": "object" }
        }
      },
      "Session": {
        "type": "object",
        "properties": {
          "session_id": { "type": "string" },
          "session_uuid": { "type": "string" },
          "start_time": { "type": "string", "format": "date-time" },
          "total_requests": { "type": "integer" },
          "total_input_tokens": { "type": "integer" },
          "total_output_tokens": { "type": "integer" }
        }
      },
      "IngestToken": {
        "type": "object",
        "properties": {
          "uuid": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "last_used_at": { "type": "string", "format": "date-time" },
          "status": { "type": "string" }
        }
      },
      "PlatformApiKey": {
        "type": "object",
        "properties": {
          "uuid": { "type": "string" },
          "name": { "type": "string" },
          "prefix": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "last_used_at": { "type": "string", "format": "date-time" },
          "status": { "type": "string" }
        }
      },
      "ProviderKey": {
        "type": "object",
        "properties": {
          "uuid": { "type": "string" },
          "provider": { "type": "string" },
          "label": { "type": "string" },
          "status": { "type": "string", "enum": ["active", "inactive", "revoked"] },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "details": { "type": "string" }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Health Check",
        "tags": ["General"],
        "security": [],
        "responses": {
          "200": {
            "description": "Service healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "database": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health/deep": {
      "get": {
        "operationId": "getHealthDeep",
        "summary": "Deep Health Check",
        "tags": ["General"],
        "security": [],
        "responses": {
          "200": {
            "description": "Detailed health status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "database": {
                      "type": "object",
                      "properties": {
                        "status": { "type": "string" },
                        "latency_ms": { "type": "number" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/create_user": {
      "post": {
        "operationId": "createUser",
        "summary": "Register User",
        "tags": ["Authentication"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "password": { "type": "string", "minLength": 8 }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "User created" },
          "409": { "description": "User already exists" }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "login",
        "summary": "Login",
        "tags": ["Authentication"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": { "type": "string" },
                  "password": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": { "type": "string" },
                    "user": { "$ref": "#/components/schemas/User" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/fetch_user": {
      "get": {
        "operationId": "fetchUser",
        "summary": "Get Current User",
        "tags": ["Authentication"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          }
        }
      }
    },
    "/auth/generate_ingest_token": {
      "post": {
        "operationId": "generateIngestToken",
        "summary": "Generate Ingest Token",
        "tags": ["Tokens"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Token generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "uuid": { "type": "string" },
                    "token": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/fetch_ingest_tokens": {
      "get": {
        "operationId": "fetchIngestTokens",
        "summary": "List Ingest Tokens",
        "tags": ["Tokens"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokens": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/IngestToken" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/platform_keys": {
      "get": {
        "operationId": "listPlatformKeys",
        "summary": "List Platform API Keys",
        "tags": ["Tokens"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/PlatformApiKey" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPlatformKey",
        "summary": "Create Platform API Key",
        "tags": ["Tokens"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Key created" }
        }
      }
    },
    "/auth/provider_keys": {
      "get": {
        "operationId": "listProviderKeys",
        "summary": "List Provider Keys",
        "tags": ["Provider Keys"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of provider keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ProviderKey" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "saveProviderKey",
        "summary": "Save Provider Key",
        "tags": ["Provider Keys"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["provider", "provider_api_key"],
                "properties": {
                  "provider": { "type": "string", "enum": ["anthropic"] },
                  "provider_api_key": { "type": "string" },
                  "provider_base_url": { "type": "string", "format": "uri" },
                  "label": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Key saved" }
        }
      }
    },
    "/agent/create": {
      "post": {
        "operationId": "createAgent",
        "summary": "Create Agent",
        "tags": ["Agents"],
        "security": [{ "bearerAuth": [] }, { "apiKeyHeader": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "anthropic_api_key"],
                "properties": {
                  "name": { "type": "string", "maxLength": 100 },
                  "description": { "type": "string", "maxLength": 500 },
                  "pvc_size": { "type": "string" },
                  "anthropic_api_key": { "type": "string" },
                  "configuration": { "type": "object" },
                  "initial_files": { "type": "array" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Agent" }
              }
            }
          }
        }
      }
    },
    "/agent/list": {
      "get": {
        "operationId": "listAgents",
        "summary": "List Agents",
        "tags": ["Agents"],
        "security": [{ "bearerAuth": [] }, { "apiKeyHeader": [] }],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20, "maximum": 100 } },
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["active", "paused", "stopped", "error"] } }
        ],
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": { "type": "array", "items": { "$ref": "#/components/schemas/Agent" } },
                    "pagination": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/{id}": {
      "get": {
        "operationId": "getAgent",
        "summary": "Get Agent",
        "tags": ["Agents"],
        "security": [{ "bearerAuth": [] }, { "apiKeyHeader": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Agent" }
              }
            }
          }
        }
      }
    },
    "/agent/request/{id}": {
      "post": {
        "operationId": "submitTask",
        "summary": "Submit Task",
        "tags": ["Agents"],
        "security": [{ "bearerAuth": [] }, { "apiKeyHeader": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message"],
                "properties": {
                  "message": { "type": "string" },
                  "priority": { "type": "integer", "minimum": 1, "maximum": 10 },
                  "callback_mode": { "type": "string", "enum": ["poll", "webhook"] },
                  "webhook_url": { "type": "string", "format": "uri" }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Task accepted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Task" }
              }
            }
          }
        }
      }
    },
    "/spotlight/anthropic/v1/messages": {
      "post": {
        "operationId": "sendMessages",
        "summary": "Send Messages (Anthropic Proxy)",
        "tags": ["Spotlight"],
        "security": [{ "bearerAuth": [] }, { "apiKeyHeader": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["model", "messages", "max_tokens"],
                "properties": {
                  "model": { "type": "string" },
                  "messages": { "type": "array" },
                  "max_tokens": { "type": "integer" },
                  "stream": { "type": "boolean" },
                  "metadata": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Model response" }
        }
      }
    },
    "/spotlight/analytics/sessions": {
      "get": {
        "operationId": "listSessions",
        "summary": "List Sessions",
        "tags": ["Spotlight"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "start_date", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "end_date", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 25 } }
        ],
        "responses": {
          "200": {
            "description": "List of sessions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessions": { "type": "array", "items": { "$ref": "#/components/schemas/Session" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/telemetry/ingest_http/traces": {
      "post": {
        "operationId": "ingestTraces",
        "summary": "Ingest Traces",
        "tags": ["Telemetry"],
        "security": [{ "ingestToken": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resourceSpans": { "type": "array" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Traces accepted" }
        }
      }
    },
    "/telemetry/ingest_http/metrics": {
      "post": {
        "operationId": "ingestMetrics",
        "summary": "Ingest Metrics",
        "tags": ["Telemetry"],
        "security": [{ "ingestToken": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resourceMetrics": { "type": "array" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Metrics accepted" }
        }
      }
    },
    "/telemetry/fetch_traces": {
      "get": {
        "operationId": "fetchTraces",
        "summary": "Fetch Traces",
        "tags": ["Telemetry"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "start_date", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "end_date", "in": "query", "schema": { "type": "string", "format": "date-time" } },
          { "name": "service_name", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Traces" }
        }
      }
    }
  },
  "tags": [
    { "name": "General", "description": "Health and status endpoints" },
    { "name": "Authentication", "description": "User authentication and account management" },
    { "name": "Tokens", "description": "Ingest tokens and platform API keys" },
    { "name": "Provider Keys", "description": "AI provider credential management" },
    { "name": "Agents", "description": "AI agent deployment and management" },
    { "name": "Spotlight", "description": "AI model proxy and session analytics" },
    { "name": "Telemetry", "description": "OpenTelemetry data ingestion and retrieval" }
  ]
}
